@import url('https://fonts.googleapis.com/css?family=Heebo');
body {
    overflow: auto;
    overflow-x: hidden;
    font-family: Heebo;
    background-color: #ede484;
}

.mobileOnly {
    display: none;
}
.desktop{
	height: 95vh;
	line-height:95vh;
    overflow: hidden;
	
}
.desktop #desktopOnly{
text-align:center;
    vertical-align:middle;
	font-size: 25px;
    color: #b26f5e;
    font-weight: bold;
}
/* Smartphone Portrait and Landscape */
@media only screen and (min-device-width : 300px) and (max-device-width : 850px) {
    .mobileOnly {
        display: inline;
    }
	.desktop{
		display: none;
	}
}


#contact {
    width: 100%;
    color: #b26f5e;
}

    #contact p {
		line-height: 1.1;
		margin-top:2%;
        font-size: 37px;
        text-align: left;
        margin-left: 6%;
		margin-right:6%;
		margin-bottom:18%;
    }

textarea {
    width: 78%;
    height: 210px;
    display: block;
	font-size: 14.5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    resize: none;
    font-family: Heebo;
    background-color: #c6a663;
    border-color: #c6a663;
    color: #424259;
	padding :  19px;

}
textarea:focus, input:focus{
    outline: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c6a663;
    height: 80px;
}

#btnConvertor {
    width: 70%;
    line-height: 45px;
    margin-top: -8%;
    border-radius: 30px;
    background-color: #915274;
    text-align: center;
    float: left;
    cursor: pointer;
	-webkit-box-shadow: 0 23px 25px -20px black;
	-moz-box-shadow: 0 23px 25px -20px black;
	box-shadow: 0 23px 25px -20px black;
}

    #btnConvertor span {
        font-size: 12px;
        color: #ffffff;
        font-weight: bold;
		
    }

#btnShare {
    width: 15%;
    line-height: 45px;
    margin-top: -8%;
    border-radius: 50%;
    background-color: #915274;
    text-align: center;
    float: right;
    cursor: pointer;
	-webkit-box-shadow: 0 13px 25px -6px black;
	-moz-box-shadow: 0 13px 25px -6px black;
	box-shadow: 0 13px 25px -6px black;
}

    #btnShare img {
        vertical-align: middle;
        width: 70%;
        border-radius: 30%;
    }

.buttons {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

